.flex-container {
    display: flex;
    justify-content: space-evenly;
}

body{
    background-color: rgb(6, 44, 52);
}
img{
    width : 500px;
    height: 550px;
    margin-top: 12px;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    box-shadow: 0px 0px 10px 0px rgb(2, 105, 126);
}

.card {
    width: 300px;
    height: 460px;
    margin-top: 60px;
    background: lightgrey;
    background-color: rgb(1, 102, 122);
    background-image: linear-gradient(43deg, rgb(215, 251, 251) 0%, rgb(5, 109, 129) 46%, rgb(12, 99, 108));
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding: 1rem;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgb(2, 105, 126);
}

.heading {
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
    font-size: large;
    color: rgb(248, 187, 238);
}
.headingTEXT{
    font-weight:bold ;
    padding: 15px;
    color: rgb(1, 37, 41);
    text-align: center;
}
.input-div {
    display: flex;
    margin-top: 1rem;
    transition: 0.5s ease-in-out;
}

.card input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(1, 37, 41);
    width: 25rem;
    padding: 8px;
    outline: none;
}

.button-div {
    text-align: center;
}

.submit {
    margin-top: 3rem;
    text-align: center;
    padding: 8px 3rem;
    border: none;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(2, 102, 122);
    color: rgb(248, 187, 238);
    font-weight: bolder;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.submit:hover {
    box-shadow: rgba(255, 208, 202, 0.664) 5px 5px, rgba(45, 45, 45, 0.3) 10px 10px, rgba(60, 59, 59, 0.2) 15px 15px, rgba(54, 53, 53, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card input::placeholder {
    color: rgb(194, 184, 184);
}

.input:focus {
    transition: 0.2s ease-in-out;
    
}

.input:hover {
    transition: 0.2s ease-in-out;
}
.seperator{
    margin-top: 20px;
}
.fa-brands{
    font-size: large;
    margin: 0 6px;
    color:rgb(6, 44, 52);
}
.fa-solid{
    font-size: large;
    margin: 0 6px;
    color:rgb(6, 44, 52);
}