//-  Including a layout file for consistent structure
html
    head
        title HOME
        link(rel='stylesheet', href='/stylesheet/home.css')
    body
        include ./layout.pug
        .flex-container
            
            img(src="10.PNG", alt="home photo"  )
