
html
  head
    title MY WEBSITE
    link(rel='stylesheet', href='/stylesheet/layout.css')
    script(src="https://kit.fontawesome.com/bd3eb1213d.js", crossorigin="anonymous")
  body
    nav.navbar
      ul.navbar-container
        li.navbar-item  
          a(href='/')
            i.fa-solid.fa-house
            span.navbar-item_label HOME
        li.navbar-item 
          a(href='/Services')
            i.fa-solid.fa-couch
            span.navbar-item_label  OUR SERVICES
        li.navbar-item 
          a(href='/Contact')
            i.fa-solid.fa-address-card
            span.navbar-item_label CONTACT US 

