//-  Including a layout file for consistent structure
html
    head
        title SERVICES
        link(rel='stylesheet', href='/stylesheet/services.css')
    body
        include ./layout.pug
        img(src="2.PNG", alt="services photo"  )
        
    